# slack adapter options
# replace 'team' with the slack domain prefix. (team.slack.com)
HUBOT_SLACK_TEAM=team
# set to slack API token
HUBOT_SLACK_TOKEN=

# redis location for brain
# only necessary if not using docker link to run redis
# REDIS_URL=redis://password@address:port/prefix
